<div class="pen-title">
  <h1>Login</h1><span><i class='fa fa-paint-brush'></i></span>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="text" placeholder="email" name="email" [(ngModel)]="loginCred.email" required/>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="loginCred.password" required/>
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="cta"><a routerLink="/register">New User?</a></div>
</div>