<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header pull-left">
      <a class="navbar-brand">xxx</a>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

      <p class="navbar-text">
        <b>{{userName}}</b>
        <a (click)="logout()" class="navbar-link" onmouseover="" style="cursor: pointer;">Logout</a>&nbsp;
      </p>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/search">Search User</a></li>
        <li class="active"><a routerLink="/dashboard">Dashboard</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <div class="container">
      <div class="row ">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- bootsnipp Circle Menu -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5715866801509976" data-ad-slot="3922266447" data-ad-format="auto"></ins>
        <br>
        <br>
        <div class="col-lg-12">
          <div>


            <div class="col-md-4" *ngFor="let post of posts">
              <div class="profile-card text-center">

                <img class="img-responsive" *ngIf="post.type=='image'" [src]="post.media" width="500px" height="150px">
                <div class="profile-info">

                  <h2 class="hvr-underline-from-center">{{post.title}}<span>Digital / Design Consultant</span></h2>
                  <div>{{post.content}}</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" (click)="reload(page)" onmouseover="" style="cursor: pointer;" *ngFor="let page of pageArray">{{page}}</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>